<!doctype html><html><head>
  <title>ICRA indicadors</title>
  <meta charset="utf8">

  <!--libs-->
  <!--
    - vue
    - mssql
  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

  <style>
    body{
      font-family: Eczar, IM Fell English, Georgia, serif;
    }
    [small]{
      font-size:smaller;
    }
    [xsmall]{
      font-size:x-small;
    }
    [center]{
      text-align:center;
    }
    [right]{
      text-align:right;
    }
    [monospace]{
      font-family:monospace;
    }
  </style>
<head></head><body>

<b>en construcció</b><hr>

<nav>
  <a href="index.html">scopus</a>  |
  <b href="centre.html">centre</b> |
  <a href="ips.html">IPs</a>       |
</nav><hr>

<h2>Indicadors de centre</h2>

<div id=app>
  <table border=1>
    <tr v-for="indi in [indicadors[0]]">
      <th>Indicador</th>
      <th v-for="obj,year in indi.years">{{year}}</th>
    </tr>
    <tbody v-for="indi,i in indicadors">
      <tr>
        <td small>{{i+1}}. {{indi.text}}</td>
        <td v-for="obj,year in indi.years" center>
          <span monospace>{{obj.valor}}</span>
          <span xsmall style="color:#666">&nbsp;{{indi.unit}}</span>
          <div v-for="incr in [indi.increment(year)]" small>
            <span v-if="incr.delta>0"  style="color:green">(+{{incr.perc.toFixed(1)}}%)</span>
            <span v-if="incr.delta<0"  style="color:red"  >({{ incr.perc.toFixed(1)}}%)</span>
            <span v-if="incr.delta==0" style="color:#ccc" >(=)</span>
          </div>
        </td>
        <td>
          <button @click="indi.calcula()">calcula</button>
        </td>
      </tr>
      <tr>
        <td right>subindicadors aqui
      </tr>
    </tbody>
  </table>
</div>

<script>
  class Indicador{
    constructor(text,unit, objectius, subindicadors){
      this.text = text;        //String
      this.unit = unit;        //String
      this.base_year = "2023"; //String

      objectius = objectius||{};

      //objectius TODO{"2024":5,}
      this.years={
        "2023":{valor:0, objectiu:false},
        "2024":{valor:0, objectiu:objectius["2024"]||1}, //default objectiu: 1%
        "2025":{valor:0, objectiu:objectius["2025"]||1},
        "2026":{valor:0, objectiu:objectius["2026"]||1},
        "2027":{valor:0, objectiu:objectius["2027"]||1},
        "2028":{valor:0, objectiu:objectius["2028"]||1},
        "2029":{valor:0, objectiu:objectius["2029"]||1},
      };

      /* subindicadors: Array objectes Indicador */
      this.subindicadors = subindicadors||[];
    }

    increment(year){
      let base  = this.years[this.base_year].valor||1; //number (absolute)
      let curr  = this.years[String(year)].valor;      //number (absolute)
      let delta = curr - base;                         //number (delta)
      let perc  = 100*delta/base;                      //number (%)
      return {delta,perc};
    }

    calcula(){
      Object.keys(this.years).forEach(year=>{
        app.calcula_aportacio_economica_projectes(year, this);
      });
    }
  }

  let app = Vue.createApp({
    data(){return{
      projectes:null, //fetch cluster

      indicadors:[
        new Indicador(
          "Aportació econòmica total a través de projectes o contractes de recerca","k€",{
            "2024": 0,//% (objectiu)
            "2025": 2,//% (objectiu)
            "2026": 4,//% (objectiu)
            "2027": 6,//% (objectiu)
            "2028": 8,//% (objectiu)
            "2029":10,//% (objectiu)
          },[
            new Indicador("Aportació econòmica a través de projectes de recerca competitius Europeus (Horizon)","k€"),
            new Indicador("Aportació econòmica a través de projectes de recerca competitius Europeus (ERC, EIC)","k€"),
            new Indicador("Aportació econòmica a través de projectes de recerca competitius estatals (AEI, ERANETs)","k€"),
            new Indicador("Aportació econòmica a través de projectes de recerca competitius regionals (ACA, AGAUR)","k€"),
            new Indicador("Aportació econòmica a través de projectes o contractes de recerca aplicada o KTT","k€"),
          ],
        ),
      ],
    }},

    methods:{
      calcula_aportacio_economica_projectes(year, indicador){
        if(!this.projectes){return 0};

        year = year || "2023";

        let total_euros=0;

        this.projectes.filter(proj=>{
          let year_inici = proj.DataIniciReal.split("-")[0];
          let year_final = proj.DataFiReal.split("-")[0];
          return(
            proj["Departament Àrea"]=="10. RECERCA" &&
            year_inici <= year &&
            year_final >= year
          );
        }).forEach(proj=>{
          console.log(proj);
          let euros = proj["Cobraments Reals"];
          if(euros)
            total_euros += euros;
        });

        //TODO
        indicador.years[year].valor = total_euros;

        console.log({year,total_euros})
      },
    },
  }).mount("#app");
</script>

<script>
  //consulta client -> cluster -> sql server icra (icranet)
  async function fetch_projectes(){
    try{
      let url="http://192.168.103.8:50000/projectes";
      const response = await fetch(url);
      if(!response.ok) throw("error fetching sql icranet")
      const data    = await response.json();
      app.projectes = data;
      console.log(data);
    }catch(err){
      console.error('Error fetching data:', err);
    }
  }
  fetch_projectes();
</script>
