<!doctype html><html><head>
  <meta charset=utf8>
  <title>cites anuals</title>
  <script src="lib/vue.global.prod.js"></script>
  <style>
    table{
      border-collapse:collapse;
    }
    button[selected=true]{
      background:gold;
      color:black;
    }
    [first_or_last]{
      color:#666;
      border-radius:5px;
      border:1px solid #ccc;
      font-size:smaller;
    }
    [first_or_last=true]{
      background:#af0;
      box-shadow:inset 1px 1px 10px lightgreen;
    }
    [is_corresponding=true]{
      background:#af0;
      box-shadow:inset 1px 1px 10px lightgreen;
      color:#666;
      border-radius:5px;
      border:1px solid #ccc;
      font-size:smaller;
    }
    [center]{ text-align:center; }
    [data]{ font-family:monospace; font-size:smaller; white-space:nowrap; }
    [nowrap]{ white-space:nowrap; }
    [small]{ font-size:smaller; }
  </style>
</head><body>

<!--nav--><div id=nav></div><hr><script src="nav.js"></script>
<h2>Cites Anuals (segons OpenAlex)</h2>

<p>
  Cites rebudes durant un any concret
  a tots els articles publicats (2007-actualitat)
</p>

<div id=app>
  <div v-if="status_oa==null">
    <button @click="query_oa_api()" style="padding:0.618em 1em">
      Request publicacions [2007-actualitat] (api openAlex)
    </button>
  </div>

  <div v-if="status_oa">
    <p><code>{{status_oa}}</code></p>
  </div>

  <div v-if="works">
    Selecciona any:
    <button
      v-for="y in get_all_years"
      @click="year_selected=y"
      :selected="y==year_selected"
      :disabled="y==year_selected"
    >{{y}}</button>
  </div>

  <div v-if="works"
    style="
      border:1px solid #ccc;
      font-size:x-large;
      padding:1em 1.618em;
    "
  >
    Cites anuals ({{year_selected}}): <b>{{get_cites_anuals}}</b>
  </div>

  <div v-if="works">
    <b>Publicacions [2007-{{year_current}}]: {{works.length}}</b>
    <table border=1>
      <tr>
        <th>n</th>
        <th>data</th>
        <th>tipus</th>
        <th>títol</th>
        <th>doi</th>
        <th>autors icra</th>
        <th>fwci</th>
        <th>cites totals</th>
        <th>cites {{year_selected}}</th>
      </tr>
      <tr v-for="work,i in works">
        <td center small>{{i+1}}</td>
        <td nowrap data>{{work.publication_date}}</td>
        <td small center>{{work.type}}</td>
        <td small><i>{{work.title}}</i></td>
        <td small>
          <div v-if="work.doi">
            <a :href="work.doi" target=_blank>{{work.doi}}</a>
          </div>
          <div v-else-if="work.primary_location && work.primary_location.landing_page_url">
            <a :href="work.primary_location.landing_page_url" target=_blank>{{work.primary_location.landing_page_url}}</a>
          </div>
        </td>
        <td>
          <table border=1 small>
            <tr v-for="authorship in work.authorships.filter(a=>a.institutions.some(i=>i.id==id_icra))">
              <td nowrap :title="authorship.raw_author_name">
                <span>
                  {{authorship.author.display_name}}
                </span>
                <span v-if="authorship.author.display_name!=authorship.raw_author_name">
                  ({{authorship.raw_author_name}})
                </span>
                <div>
                  <span :first_or_last="['first','last'].includes(authorship.author_position)">
                    {{authorship.author_position}}
                  </span>
                  <span :is_corresponding="authorship.is_corresponding">
                    <span v-if="authorship.is_corresponding">
                      corresponding
                    </span>
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td center small>{{work.fwci || 0}}</td>
        <td center small>{{work.cited_by_count}}</td>
        <td center>
          <div v-for="cby in [work.counts_by_year.find(obj=>obj.year==year_selected)]">
            <div v-if="cby">
              {{cby.cited_by_count}}
            </div>
            <div v-else>0</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      works:null,
      status_oa:null,

      year_current:new Date().getFullYear(),
      year_selected:new Date().getFullYear()-1,

      id_icra:"https://openalex.org/I2799562678", //id   openAlex institution ICRA
    }},
    computed:{
      get_all_years(){
        let ini = this.year_current;
        let fin = 2007;
        let arr = [];
        for(let y=ini;y>=fin;y--){
          arr.push(y);
        }
        return arr;
      },

      get_cites_anuals(){
        if(!this.works) return 0;

        let n=0;
        this.works.forEach(work=>{
          let obj = work.counts_by_year.find(obj=>obj.year==this.year_selected);
          if(obj){
            n += obj.cited_by_count;
          }
        });
        return n;
      },
    },
  }).mount("#app");
</script>

<script type=module>
  async function query_oa_api(){
    //inputs
    let year_inici = 2007;
    let year_final = new Date().getFullYear();
    let codi_icra  = "I2799562678"; //institution code
    let api_key    = "tGXbKHpYBXs5jv8YOFteH5";

    //utils
    let page     = 1;
    let per_page = 200;
    let results  = [];

    while(true){
      let url=`https://api.openalex.org/works?api_key=${api_key}&filter=institutions.id:${codi_icra},publication_year:${year_inici}-${year_final}&per_page=${per_page}&page=${page}`;

      //fetch openalex api
      let msg = `[openalex] Fetching page ${page}... (items received:${results.length})`;
      console.log(msg);
      app.status_oa=msg;

      const res  = await fetch(url);
      const data = await res.json();

      //append results
      results = results.concat(data.results);

      //next page
      if(data.results.length < per_page){
        break;
      }else{
        page++;
      }
    }

    //filta per ICRA i descarta ICFO, ICN, etc
    results = results.filter(work=>{
      return work.authorships.some(auth=>{
        return auth.raw_affiliation_strings.some(str=>{
          let str_lc = str.toLowerCase();
          return (
            str_lc.includes("icra")||
            str_lc.includes("catalan institute for water research")||
            str_lc.includes("catalan institute of water research")||
            str_lc.includes("institut catala de recerca de l'aigua")||
            str_lc.includes("institut català de recerca de l'aigua")
          );
        });
      });
    });

    //ordena per data
    results.sort((a,b)=>{
      let aa = a.publication_date;
      let bb = b.publication_date;
      return bb<aa?1:-1;
    });

    console.log(results);
    app.works=results;
    app.status_oa=`[openalex] done (items: ${results.length})`;
  }
  app.query_oa_api = query_oa_api;
</script>
