<!doctype html><html><head>
  <title>ICRA Scopus</title>
  <meta charset="utf8">
  <script src="lib/vue.global.prod.js"></script>
  <style>
    body{
      font-family: Eczar, IM Fell English, Georgia, serif;
    }
    input[type=number]{
      text-align:right;
    }
    legend{
      font-weight:bold;
    }
    textarea{
      field-sizing:content;
      display:block;
      padding:10px;
      background:lightyellow;
      min-width:350px;
    }
    table{
      border-collapse:collapse;
      max-width:100%;
    }
    td,th{
      vertical-align:top;
    }
    details[open] > summary {
      background:#ddd;
    }
    summary[sticky]{
      position:sticky;
      top:0;
      background:white;
      border:1px solid #ccc;
    }
    summary:hover{
      text-decoration:underline;
      cursor:pointer;
      background:#ddd;
    }
    [small]{
      font-size:smaller;
    }
    [xsmall]{
      font-size:x-small;
    }
    [nowrap]{
      white-space:nowrap;
    }
    [center]{
      text-align:center;
    }
    [right]{
      text-align:right;
    }
    [flex]{
      display:flex;
      align-items:center;
    }
  </style>
</head><body>

<div><!--temporal warning tmp-->
  <details style="border:2px solid;padding:10px" small>
    <summary>status: under development (February 2025)</summary>
    <p>
      development started on 10th Feb 2025.<br>
      Warning: the scopus API has a limit of requests.
      It's possible that the error 429 "too many requests" appears.<br>
      This will be solved (hopefully) contracting a paid access to scopus.<br>
    </p>
    <b>coses pendents</b>
    <ul>
      <li>scimagojr CSV descarregar per tots els anys
      <li>journal metrics buscar per ISSN i no per nom
      <li>calcular per cada any X el nombre de cites fetes durant aquell any a tots els articles publicats
    </ul>
    <button onclick="this.parentNode.style.display='none'">X</button>
  </details>
</div><hr>

<!--nav--><div id=nav></div><hr><script src="nav.js"></script>

<h3>
  <div style="display:flex;justify-content:space-between;align-items:center">
    <div>Search ICRA publications in SCOPUS</div>
    <a xsmall href="//github.com/icra/indicadors" target=_blank>
      github.com/icra/indicadors
    </a>
  </div>
</h3>

<div id=app>
  <fieldset>
    <legend>Publications</legend>
    <table border=1 style="border-collapse:collapse;width:100%">
      <tr>
        <td>Query</td>
        <td>
          <div flex>
            <div style="display:flex">
              <textarea
                v-model="scopus.query"
                query
                style="font-size:smaller;min-width:200px"
                placeholder="write scopus query here"
                @keydown.enter.prevent="get_publications()"
              ></textarea>
              <button @click="scopus.query=''" :disabled="scopus.query==''">X</button>
            </div>

            <small style="font-size:x-small;margin:0 1em">
              <a target=_blank href="https://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm">scopus search guide</a>
            </small>

            <details xsmall>
              <summary>most used fields</summary>
              <div>
                <a href=# title="affiliation id"       @click="scopus.query+=' AND AF-ID(60110375)'">AF-ID</a>,
                <a href=# title="author name"          @click="scopus.query+=' AND AUTH(bosch)'">AUTH</a>,
                <a href=# title="author id"            @click="scopus.query+=' AND AU-ID(56411720900)'">AU-ID</a>,
                <a href=# title="journal issn number"  @click="scopus.query+=' AND ISSN(02697491)'">ISSN</a>,
                <a href=# title="publication language" @click="scopus.query+=' AND LANGUAGE(spanish)'">LANGUAGE</a>,
                <a href=# title="publication year"     @click="scopus.query+=' AND PUBYEAR is 2025'">PUBYEAR</a>
              </div>
            </details>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div flex>
            <button @click="get_publications()" nowrap
              style="
                padding:0.618em 1em;
                background:lightgreen;
              "
            >Search &#128270;
            </button>

            <!--historial-->
            <div
              style="
                display:flex;
                align-items:center;
              "
              v-if="historial.length>1"
            >
              <div small>
                <span>&nbsp;recent queries&nbsp;</span>
                <select small @change="scopus.query=$event.target.value;get_publications()">
                  <option v-for="q in historial">
                    {{q}}
                  </option>
                </select>
              </div>
              &nbsp;
              <button xsmall @click="alert(permalink)">get permalink</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <details open>
            <summary sticky>Results
              <span v-if="scopus.result && scopus.result_ok && scopus.result_is_loading==false">
                ({{scopus.response["search-results"]["opensearch:totalResults"]}} results,
                {{scopus.result.map(page=>page.length).reduce((p,c)=>p+c,0)}} items received, {{scopus.number_of_requests}} requests)
              </span>
              <div v-if="scopus.result_is_loading">
                loading...
                <span v-if="scopus.number_of_requests">
                  ({{scopus.current_request_number}} of {{scopus.number_of_requests}} requests to scopus API done)
                </span>
              </div>
            </summary>
            <div v-if="scopus.result_is_loading==false">
              <div v-if="!scopus.result" style="color:#666">none</div>
              <div v-if="scopus.result && scopus.result_ok==false">
                {{scopus.result}}
              </div>
              <div v-if="scopus.result && scopus.result_ok">
                <table border=1
                  style="
                    font-size:smaller;
                    border-collapse:collapse;
                    border-color:#ccc;
                  "
                >
                  <tr>
                    <th>nº</th>
                    <th>
                      <a href=# @click="scopus.sort_publications_by='citedby-count'">cited</a>
                    </th>
                    <th style="text-align:left">
                      <a href=# @click="scopus.sort_publications_by='prism:coverDate'">publication</a>
                    </th>
                  </tr>
                  <tbody v-for="entry,i in get_publications_array">
                    <tr>
                      <td style="font-size:smaller">{{i+1}}</td>
                      <td style="font-size:smaller" center>{{entry["citedby-count"]}}</td>
                      <td>
                        <details>
                          <summary>
                            <span>[{{entry["prism:coverDate"]}}]&nbsp;</span>
                            <b>{{entry["dc:creator"]}}&nbsp;</b>
                            <small><i>{{entry["dc:title"]}}</i></small>
                          </summary>

                          <div v-if="entry['prism:doi']">
                            <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                              https://doi.org/{{entry['prism:doi']}}
                            </a>
                          </div>

                          <div>
                            <div v-if="abstract[entry['prism:doi']]">
                              <details open>
                                <summary>Detalls ("abstract metadata request")</summary>
                                <pre>{{
                                  JSON.stringify(
                                    abstract[entry['prism:doi']],
                                    null,
                                    '  ',
                                  )
                                }}</pre>
                              </details>
                            </div>
                            <button
                              v-if="!abstract[entry['prism:doi']]"
                              @click="request_abstract(entry)"
                            >
                              request publication details
                            </button>
                            <button
                              @click="request_citation_overview(entry)"
                            >
                              request citation overview
                            </button>
                          </div>

                          <table border=1>
                            <tr v-for="val,key in entry">
                              <th>{{key}}</th>
                              <td>
                                <div v-if="val && (val.constructor===Object || val.constructor===Array)">
                                  <pre>{{JSON.stringify(val,null,'  ')}}</pre>
                                </div>
                                <div v-else>{{val}}</div>
                              </td>
                            </tr>
                          </table>
                        </details>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </details>
        </td>
      </tr>

      <tr v-if="false && get_publications_array">
        <td colspan=2>
          <table border=1 small>
            <tbody v-for="entry in get_publications_array">
              <tr>
                <td nowrap>{{entry["prism:coverDate"]}}</td>
                <td>
                  <div v-if="entry['prism:doi']">
                    <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                      {{entry['prism:doi']}}
                    </a>
                  </div>
                </td>
                <td>
                  <b>{{entry["dc:creator"]}}&nbsp;</b>
                </td>
                <td>
                  <small><i>{{entry["dc:title"]}}</i></small>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Total citations in the results</legend>
    <div v-if="scopus.result && scopus.result_ok">
      {{ calcula_cites_totals }}
    </div><div v-else style="color:#666">
      none
    </div>
  </fieldset>

  <fieldset>
    <legend>Journals in the results</legend>
    <details>
      <summary sticky>
        Journals
        <span v-if="get_revistes">({{get_revistes.length}})</span>
        &mdash; sorted by:
        <select v-model="journals_sorted_by" @change="display_only(journals_sorted_by)">
          <option v-for="op in journals_sorted_by_OPTIONS">{{op}}</option>
        </select>
      </summary>
      <div v-if="!get_revistes" style="color:#666">none</div>
      <table border=1 v-if="get_revistes">
        <tr>
          <th>nº</th>
          <th>issn</th>
          <th>eIssn</th>
          <th>Journal name</th>
          <th>Publications</th>
          <th>
            SCOPUS journal
            metrics <button @click="request_all_journal_metrics()">request all journals</button>
            <div small>
              <label nowrap title="Source-Normalized Impact per Paper (SNIP): Measures contextual citation impact by taking differences in disciplinary characteristics into account; can be used to compare journals in different fields."><input type=checkbox v-model="metrics.snip">SNIP</label>
              <label nowrap title="SCImago Journal Rank (SJR): A prestige metric for journals, book series and conference proceedings that weights the value of a citation based on the subject field, quality and reputation of the source."><input type=checkbox v-model="metrics.sjr">SJR</label>
              <label nowrap title="CiteScore™ metrics: Introduced in 2016, a family of eight indicators to analyze the publication influence of serial titles. CiteScore metrics offer more robust, timely and accurate indicators of a serial title’s impact."><input type=checkbox v-model="metrics.citescore">CiteScore</label>
              <label nowrap title="CiteScore™ metrics: Introduced in 2016, a family of eight indicators to analyze the publication influence of serial titles. CiteScore metrics offer more robust, timely and accurate indicators of a serial title’s impact."><input type=checkbox v-model="metrics.more_details">(all)</label>
            </div>
          </th>
          <th>Scimago Journal Rank CSV metrics
            <div v-if="!scimagocsv">
              (loading...)
            </div>
          </th>
        </tr>
        <tr v-for="[key,val],i in get_revistes">
          <td xsmall>{{i+1}}</td>
          <td xsmall nowrap>{{val.issn}}</td>
          <td xsmall nowrap>{{val.eIssn}}</td>
          <td :title="key">
            <details>
              <summary>
                {{key.substring(0,50)}}<span v-if="key.length>50">...</span>
              </summary>
              <p small>
                <a target=_blank :href="`https://www.scimagojr.com/journalsearch.php?q=${val.source_id}&tip=sid&clean=0`">
                  https://www.scimagojr.com/journalsearch.php?q={{val.source_id}}&tip=sid&clean=0
                </a>
              </p>
              <table small>
                <tbody v-for="entry in val.articles">
                  <tr>
                    <td>
                      <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                        [{{entry["prism:coverDate"]}}]
                        <b>{{entry["dc:creator"]}}&nbsp;</b>
                        <small><i>{{entry["dc:title"]}}</i></small>
                      </a>
                    </td>
                  </tr>
                </tr>
              </table>
            </details>
          </td>
          <td nowrap small> {{val.articles.length}} publications </td>
          <td small>
            <div v-if="journal_metrics[key]">
              <table border=1 xsmall>
                <tr v-if="metrics.snip">
                  <td>SNIP ({{ get_snip([key,val]).year }})</td>
                  <td right>{{ get_snip([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.sjr">
                  <td>SJR ({{  get_sjr([key,val]).year }})</td>
                  <td right>{{ get_sjr([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.citescore">
                  <td>CiteScore (current) ({{ get_citescore_current([key,val]).year }})</td>
                  <td right>{{                get_citescore_current([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.citescore">
                  <td>CiteScore (tracker) ({{ get_citescore_tracker([key,val]).year }})</td>
                  <td right>{{                get_citescore_tracker([key,val]).score }}</td>
                </tr>
              </table>
            </div>
            <details v-if="journal_metrics[key] && metrics.more_details" xsmall>
              <summary>more details</summary>
              <pre>{{
                JSON.stringify(
                  recurse(
                    journal_metrics[key],
                    ['serial-metadata-response','entry',0]
                  ),
                  null,
                  "  ",
                )
              }}</pre>
            </details>
            <div v-if="!journal_metrics[key]">
              <button small v-if="val.issn||val.eIssn" @click="request_journal(val.issn||val.eIssn,key)">
                request journal info (SCOPUS)
              </button>
            </div>
          </td>
          <td v-if="scimagocsv">
            <div v-for="sjr in [busca_a_scimagocsv(key,val.issn,val.eIssn)]">
              <table border=1 xsmall v-if="sjr">
                <tbody>
                  <tr><th nowrap>SJR              <td>{{sjr.SJR}}</tr>
                  <tr><th nowrap>SJR Best Quartile<th>{{sjr["SJR Best Quartile"]}}</th>
                  <tr><th nowrap>H index          <td>{{sjr["H index"]}}</tr>
                </tbody>
              </table>
              <details xsmall v-if="sjr">
                <summary>see all ScimagoJR metrics</summary>
                <table border=2 xsmall>
                  <tr v-for="val2,key2 in sjr">
                    <th nowrap>{{key2}}</th>
                    <td>{{val2}}</td>
                  </tr>
                </table>
              </details>
              <div v-if="!sjr">
                <code>~journal not ranked in SJR</code>
              </div>
            </div>
          </td>
          <td v-if="!scimagocsv">
            (loading scimago csv...)
          </td>
        </tr>
      </table>
    </details>
  </fieldset>

  <fieldset v-if="false">
    <legend>ICRA affiliation metrics</legend>
    <div v-if="institution">
      <pre>{{
        JSON.stringify(
          institution,
          null,
          "  ",
        )
      }}</pre>
    </div>
    <div v-if="!institution">
      <button @click="request_institution()">
        request affiliation data
      </button>
    </div>
  </fieldset>

  <fieldset>
    <legend>Indicadors</legend>
    <table border=1>
      <tbody v-if="get_articles_quartils">
        <tr v-for="arr,key in get_articles_quartils">
          <td>Articles publicats a revista {{key}}</td>
          <td center>
            {{arr.length}}
          </td>
          <td v-if="arr.length">
            <details small>
              <summary>llista</summary>
              <table border=1 small>
                <tr>
                  <td center>Journal
                  <td center>Rank (percentile) by category
                  <td center>Author
                  <td center>Title
                </tr>
                <tr v-for="entry in arr">
                  <td>
                    <b>{{entry.pub["prism:publicationName"]}}</b>
                  </td>
                  <td>
                    <table style="width:100%">
                      <tr v-for="val,key in entry.sjr.percentils">
                        <td>{{key}}</td>
                        <td>#{{val.rank}}/{{val.n}}</td>
                        <td>
                          ({{val.percentil.toFixed(2)}}%)
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td><b>{{entry.pub["dc:creator"]}}&nbsp;</b></td>
                  <td>
                    <small><i>
                      <a target=_blank :href="`https://doi.org/${entry.pub['prism:doi']}`">
                        {{entry.pub["dc:title"]}}
                      </a>
                    </i></small>
                  </td>
                </tr>
              </table>
            </details>
          </td>
        </tr>
      </tbody>

      <tr>
        <td>Nombre de cites</td>
        <td center>
          <div v-if="calcula_cites_totals">{{calcula_cites_totals}}</div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:middle">
          H index
        </td>
        <td center style="vertical-align:middle">
          {{calcula_H_index}}
        </td>
        <td colspan=2 xsmall>
          <p>
            Number of publications that have been cited at least that same
            number of times.
          </p>
          <p v-if="calcula_H_index">
            Results: {{calcula_H_index}} papers have been cited {{calcula_H_index}} times (or more).
          </p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:middle">
          Impact Factor 2024
        </td>
        <td style="vertical-align:middle">
          A/B =
        </td>
        <td>
          <div>
            A = number of times articles published in [2022,2023] were cited by indexed journals during [2024].
          </div>
          <hr>
          <div>
            B = total number of "citable items" published in [2022,2023]
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
</div>

<script>
  //read query from URL (index.html?query="query")
  let usp   = new URLSearchParams(window.location.search);
  let query = usp.get('query');
  if(query){
    query = decodeURIComponent(query);
    console.log(query);
  }

  let app = Vue.createApp({
    data(){return{
      //data for querying publications (elsevier's scopus)
      scopus:{
        //API_KEY:"7f59af901d2d86f78a1fd60c1bf9426a", //clau web scopus
        //API_KEY:"f29af1b7149e7949bbd705b657b1ec26",   //clau elisabet
        API_KEY:"006782f7796da6b38899e0c889fa3c80", //clau mireia

        query:query||`AF-ID(60110375) AND PUBYEAR IS ${new Date().getFullYear()}`,//default query
        //query:query||`AF-ID(60002612) AND PUBYEAR IS ${new Date().getFullYear()}`,//eawag
        //query:query||`AF-ID(60032543) AND PUBYEAR IS ${new Date().getFullYear()}`,//IGB      – the Leibniz Institute of Freshwater Ecology and Inland Fisheries, Berlin, Germany
        //query:query||`AF-ID(60030012) AND PUBYEAR IS ${new Date().getFullYear()}`,//WETSUS   - European centre of excellence for sustainable water technology, Leeuwarden, The Netherland
        //query:query||`AF-ID(60102148) AND PUBYEAR IS ${new Date().getFullYear()}`,//IRSA-CNR – Water Research Institute (Consiglio Nazionale delle Ricerche), Rome, Italy
        //query:query||`AF-ID(60026169) AND PUBYEAR IS ${new Date().getFullYear()}`,//NIVA     – Norwegian Institute for Water Research, Oslo, Norway
        //query:query||`AF-ID(60104394) AND PUBYEAR IS ${new Date().getFullYear()}`,//KWR      - Water Research Institute, Nieuwegein, The Netherlands

        response:null,           //cache
        result:null,             //cache
        result_is_loading:false, //is the query in process?
        result_ok:false,         //there is error?
        number_of_requests:null,
        current_request_number:0,

        //sort_publications_by:"citedby-count",
        sort_publications_by:"prism:coverDate",

        //cache for queries
        cache:{
          /*"query":{results}*/
        },
      },

      //historial queries
      historial:[],

      //cache for scopus api call for affiliation TODO
      institution:null,

      //cache for journal info requested to scopus api
      journal_metrics:{
        //"journal name":{info},
      },
      //journal metrics displayed
      metrics:{
        snip:false,
        sjr:true,
        citescore:false,
        more_details:false,
      },

      /*sort journals in the results by different metrics*/
      journals_sorted_by:"number of publications",
      journals_sorted_by_OPTIONS:[
        "number of publications",
        "SNIP",
        "SJR",
        "CiteScore (current)",
        "CiteScore (tracker)",
      ],

      //cache for journal metrics
      abstract:{
        //"doi":abstract_object
      },

      scimagocsv:null, //fetch *.csv

      /*utils*/
      //http requests error code descriptions
      errors:{
        "400":"Bad request",
        "401":"Unauthorized",
        "403":"Forbidden",
        "404":"Not found",
        "429":"Too many requests",
      },
    }},

    methods:{
      async get_auth(){ //TODO not used
        let API_KEY = this.scopus.API_KEY;
        let url     = `https://api.elsevier.com/authenticate/?apiKey=${API_KEY}`;
        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };
        let response = await fetch(url,options);
        if(!response.ok){
          throw new Error("Error authenticating to scopus");
        }
        const data = await response.json();
        console.log(data);
      },

      //scopus api call: get publications based on scopus query
      async get_publications(){
        let API_KEY       = this.scopus.API_KEY;
        let query         = this.scopus.query;
        let encoded_query = encodeURIComponent(query);

        //let url          =`https://api.elsevier.com/content/search/scopus?query=${encoded_query}&apiKey=${API_KEY}`;
        let url          =`https://api.elsevier.com/content/search/scopus?query=${encoded_query}`;

        //reset results
        this.scopus.response               = null;
        this.scopus.result                 = null;
        this.scopus.result_ok              = false;
        this.scopus.result_is_loading      = true;
        this.scopus.number_of_requests     = null;
        this.scopus.current_request_number = 0;

        //check cache before searching
        if(this.scopus.cache[query]){
          let cache                          = this.scopus.cache[query];
          this.scopus.response               = cache.response;
          this.scopus.result                 = cache.result;
          this.scopus.result_ok              = true;
          this.scopus.result_is_loading      = false;
          this.scopus.number_of_requests     = cache.number_of_requests;
          return;
        }

        //prepare http request fetch
        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };
        let response = await fetch(url,options);
        if(!response.ok){
          this.scopus.result = `error ${response.status} ${this.errors[response.status]}`;
          this.scopus.result_is_loading = false;
          throw new Error("Error fetching Scopus data");
        }

        //response is ok
        const data = await response.json();
        this.scopus.response = data;

        //save results (entries) here
        let pages=[];

        //each element in "pages" is an array of "entries" (a page of 25 results)
        let first_page = data["search-results"].entry;
        pages.push(first_page);

        //compute necessary number of requests
        let totalResults = data["search-results"]["opensearch:totalResults"];
        let itemsPerPage = data["search-results"]["opensearch:itemsPerPage"];
        let n_requests = Math.ceil(totalResults/itemsPerPage) || 1;
        let urls_next_pages=[];//save urls to request here
        for(let i=1;i<n_requests;i++){ //omit first search
          let start = i*itemsPerPage;
          let url   = `https://api.elsevier.com/content/search/scopus?start=${start}&count=${itemsPerPage}&query=${encoded_query}&apiKey=${API_KEY}`;
          urls_next_pages.push(url);
        }
        this.scopus.number_of_requests     = n_requests;
        this.scopus.current_request_number = 1;

        if(urls_next_pages.length){
          async function get_next_result_page(index){
            index = index || 0;
            app.scopus.current_request_number++;
            let url = urls_next_pages[index];
            if(!url) return;
            console.log(`fetching request to ${url}`);
            let resp = await fetch(url,options);
            if(!resp.ok){
              console.error(resp);
              throw(`error ${resp.status} '${this.errors[resp.status]}' fetching "${url}"`);
              return;
            }
            let data = await resp.json();
            let page = data["search-results"].entry;
            pages.push(page);

            if(index < urls_next_pages.length-1){
              await get_next_result_page(index+1);
            }else{
              return;
            }
          }
          await get_next_result_page();
        }

        this.scopus.result            = pages;
        this.scopus.result_ok         = true;
        this.scopus.result_is_loading = false;

        //save query to historial (to position zero)
        this.historial.unshift(query);

        //save results to cache
        this.scopus.cache[query]={
          response:           data,
          result:             pages,
          number_of_requests: n_requests,
        };
      },

      //scopus api call: check journal quartile based on ISSN
      async request_journal(issn,journal_name){
        if(this.journal_metrics[journal_name]){
          return this.journal_metrics[journal_name];
        }

        //http request to scopus api
        let API_KEY = this.scopus.API_KEY;
        let url=`https://api.elsevier.com/content/serial/title?issn=${issn}&apiKey=${API_KEY}`;
        let options  = {headers:{"Accept":"application/json"}};
        let response = await fetch(url,options);
        if(!response.ok) throw new Error("Error fetching Scopus Serial Title API");
        const data = await response.json();

        //cache result and return
        this.journal_metrics[journal_name]=data;

        //get issn and eissn
        console.log(data);

        return data;
      },

      async request_all_journal_metrics(){
        let revistes = this.get_revistes;
        if(!revistes) return;
        async function get_next_journal(index){
          index = index || 0;

          let nom_revista = revistes[index][0];
          let issn        = revistes[index][1].issn || revistes[index][1].eIssn;

          await app.request_journal(issn,nom_revista);

          if(index < revistes.length-1){
            await get_next_journal(index+1);
          }else{
            return;
          }
        }
        await get_next_journal();
      },

      //scopus api call: fetch publication metadata
      async request_abstract(entry){
        let doi       = entry["prism:doi"];
        let scopus_id = entry["dc:identifier"].replace("SCOPUS_ID:","");
        let API_KEY   = this.scopus.API_KEY;

        //return cached value
        if(this.abstract[doi]) return this.abstract[doi];

        let url=`https://api.elsevier.com/content/abstract/scopus_id/${scopus_id}`;

        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };

        const response = await fetch(url,options);
        if(!response.ok){
          throw new Error("Error in fetch(): response.ok==false");
        }
        const data = await response.json();

        //cache result
        this.abstract[doi]=data;
      },

      //scopus api call: fetch citation overview TODO
      async request_citation_overview(entry){
        let doi       = entry["prism:doi"];
        let scopus_id = entry["dc:identifier"].replace("SCOPUS_ID:","");

        let API_KEY   = this.scopus.API_KEY;

        //return cached value TODO
        //if(this.abstract[doi]) return this.abstract[doi];

        let url=`https://api.elsevier.com/content/abstract/citations?scopus_id=${scopus_id}&apiKey=${API_KEY}`;
        //let url=`https://api.elsevier.com/content/abstract/citations?doi=${doi}`;

        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };
        let response = await fetch(url,options);
        if(!response.ok){
          console.log(response);
          throw new Error("Error in fetch(): response.ok==false");
        }
        const data = await response.json();

        console.log(data);

        //cache result TODO
        //this.abstract[doi]=data;
      },

      //scopus api call test zone
      async request_test(){
        let API_KEY   = this.scopus.API_KEY;

        //let url=`https://api.elsevier.com/content/abstract/citations?scopus_id=${scopus_id}&apiKey=${API_KEY}`;
        //let url=`https://api.elsevier.com/content/abstract/citations?doi=${doi}`;
        let url="https://www.scopus.com/inward/citedby.uri?partnerID=HzOxMe3b&scp=85153786709&origin=inward";

        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };
        let response = await fetch(url,options);
        if(!response.ok) throw new Error("Error in fetch");
        const data = await response.json();
        console.log(data);
      },

      //TODO no funciona
      async request_institution(){
        let API_KEY = this.scopus.API_KEY;
        let afid    = 60110375; //icra affiliation id
        let url     = `https://api.elsevier.com/content/affiliation/affiliation_id/${afid}`;

        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };

        let response = await fetch(url,options);
        if(!response.ok){
          throw(`error ${response.status} '${this.errors[response.status]}' fetching "${url}"`);
          return;
        }
        let data = await response.json();
        this.institution=data;
      },

      /*parse journal metrics from scopus api*/
      get_snip(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SNIPList','SNIP',0,"$"]
        );
        score = parseFloat(score);

        let year = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SNIPList','SNIP',0,"@year"]
        );
        year = parseInt(year);

        return {score,year};
      },
      get_sjr(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SJRList','SJR',0,"$"],
        );
        score = parseFloat(score);

        let year = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SJRList','SJR',0,"@year"]
        );
        year = parseInt(year);

        return {score,year};
      },
      get_citescore_current(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreCurrentMetric']
        );
        score = parseFloat(score);

        let year = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreCurrentMetricYear']
        );
        year = parseInt(year);

        return {score,year};
      },
      get_citescore_tracker(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreTracker']
        );
        score = parseFloat(score);

        let year = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreTrackerYear']
        );
        year = parseInt(year);

        return {score,year};
      },

      /*<utils>*/
      //uncheck all journal metrics and activate one
      display_only(option_name){
        let metric={
          //journals_sorted_by_OPTIONS : metrics
          "SNIP"                       : "snip",
          "SJR"                        : "sjr",
          "CiteScore (current)"        : "citescore",
          "CiteScore (tracker)"        : "citescore",
        }[option_name];

        if(!metric) return;

        //if metric exists, display only this one
        Object.keys(this.metrics).forEach(key=>{
          this.metrics[key]=false;
        });
        this.metrics[metric]=true;
      },

      //access an object by a series of keys
      recurse(obj,keys){
        if(!obj) return false;
        if(keys.length==0) return obj;
        if(obj[keys[0]]){
          return this.recurse(
            obj[keys[0]],
            keys.slice(1),
          );
        }else{
          return obj;
        }
      },
      //show permalink
      alert(str){
        alert(str);
      },
      /*</utils>*/

      async get_scimagocsv(){
        if(this.scimagocsv) return;

        let res = await fetch("csv/scimagojr 2023.csv");
        if(!res.ok) throw("error reading csv file");
        let text = await res.text();

        let csv = text.split("\n").map(line=>{
          let row = line.split(";"); //array

          let indexs_to_delete=[];

          //arregla camps entre cometes
          for(let i=0;i<row.length;i++){
            let val = row[i];
            if(val[0]=="\"" && val.at(-1)!="\""){
              let new_val = val;
              let index = 1;
              while(true){
                let next_cell = row[i+index]; //value
                indexs_to_delete.push(i+index);
                new_val += ";"+next_cell; //join values
                if(next_cell.at(-1)=="\""){
                  break;
                }else{
                  index++;
                }
              }
              row[i] = new_val;
            }
          }

          indexs_to_delete.forEach(index=>{
            row[index]="";
          });

          row = row.filter(cell=>cell!="");

          return row;
        });

        csv.forEach(row=>{
          row.forEach((cell,i)=>{
            if(cell.at(0)=="\"" && cell.at(-1)=="\""){
              row[i] = cell.replaceAll("\"","");
            }
          });
        });

        //delete last row
        csv.pop();

        let csv_dictionary={};
        csv.forEach((row,i)=>{
          if(i==0) return;
          let obj={};
          csv[0].forEach((field,j)=>{
            obj[field] = row[j];
          });

          csv_dictionary[obj.Title] = obj;
        });

        this.scimagocsv = csv_dictionary;

        this.calcula_percentils_ambits_scimago();
      },

      busca_a_scimagocsv(nom_revista,issn,eIssn){
        if(!this.scimagocsv) return false;

        let csv = this.scimagocsv; //dictionary to search

        //search by name
        let obj = csv[nom_revista]; //object or undefined
        if(obj) return obj;

        //search by issn
        obj = Object.entries(csv).find(en=>en[1].Issn.includes(issn)); //object or null
        if(obj) return obj[1];

        //search by eIssn
        obj = Object.entries(csv).find(en=>en[1].Issn.includes(eIssn)); //object or null
        if(obj) return obj[1];

        return false; //not found
      },

      //calcula percentils dels rankings
      calcula_percentils_ambits_scimago(){
        let ambits = {};
        let csv = this.scimagocsv;

        //classifica journals dins dels ambits
        Object.values(csv).forEach(journal=>{
          journal.Categories.split(";").forEach(cat=>{
            cat = cat.trim();
            cat = cat.replace(" (Q1)","");
            cat = cat.replace(" (Q2)","");
            cat = cat.replace(" (Q3)","");
            cat = cat.replace(" (Q4)","");

            if(ambits[cat]==undefined){
              ambits[cat]=[];
            }
            ambits[cat].push(journal);
          });
        });

        //recorre els ambits i calcula el ranking de cada revista
        Object.entries(ambits).forEach(([key,val])=>{
          let cat      = key; //string
          let journals = val; //array
          let n        = journals.length; //number

          journals.forEach((jou,i)=>{
            let percentil = 100*(i+1)/n; //number
            if(jou.percentils==undefined){
              jou.percentils={};
            }
            jou.percentils[cat]={
              rank:i+1, n,
              percentil,
            }
          });
        });
      },
    },

    computed:{
      get_revistes(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return false;
        }

        let revistes={}; //ret val

        let pages = this.scopus.result;
        pages.forEach(page=>{
          page.forEach(entry=>{
            let nom_revista = entry["prism:publicationName"];
            let issn        = entry["prism:issn"];
            let eIssn       = entry["prism:eIssn"];
            let source_id   = entry["source-id"];

            if(revistes[nom_revista]==undefined){
              revistes[nom_revista]={issn,eIssn,source_id,articles:[]};
            }

            revistes[nom_revista].articles.push(entry);
          });
        });

        //ordena revistes segons opció triada usuari
        let revistes_sorted = Object.entries(revistes).sort((a,b)=>{
          if(this.journals_sorted_by=="number of publications"){
            let aa = a[1].articles.length;
            let bb = b[1].articles.length;
            return bb-aa;
          }
          if(this.journals_sorted_by=="SJR"){
            let aa = this.get_sjr(a).score;
            let bb = this.get_sjr(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="SNIP"){
            let aa = this.get_snip(a).score;
            let bb = this.get_snip(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="CiteScore (current)"){
            let aa = this.get_citescore_current(a).score;
            let bb = this.get_citescore_current(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="CiteScore (tracker)"){
            let aa = this.get_citescore_tracker(a).score;
            let bb = this.get_citescore_tracker(b).score;
            return bb-aa;
          }
        });

        return revistes_sorted;
      },

      calcula_cites_totals(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return 0;
        }

        let cites = 0;
        this.scopus.result.forEach(page=>{
          page.forEach(entry=>{
            cites += parseInt(entry["citedby-count"]);
          });
        });
        return cites;
      },

      get_publications_array(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return false;
        }

        //posa totes les pàgines en fila
        let arr = this.scopus.result.reduce((p,c)=>{return [...p,...c]},[]);

        //ordena per cites o data de publicació
        let camp = this.scopus.sort_publications_by;
        arr.sort((a,b)=>{
          let aa = a[camp];
          let bb = b[camp];

          let naa = parseFloat(aa);
          let nbb = parseFloat(bb);

          if(camp=="prism:coverDate"){
            return aa<bb?-1:1;
          }

          if(isNaN(naa)||isNaN(nbb)){
            return aa<bb?1:-1;
          }else{
            return nbb-naa;
          }
        });

        return arr;
      },

      calcula_H_index(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return 0;
        }

        let arr=[];
        this.scopus.result.forEach(page=>{
          page.forEach(entry=>{
            let cites = parseInt(entry["citedby-count"]); //number
            if(cites){
              arr.push(cites);
            }
          });
        });

        //inicia impact factor = number of publications amb cites
        let H_index = arr.length;
        while(true){
          let check = arr.filter(el=> el>=H_index ).length >= H_index;
          if(check) break; //H_index found!
          H_index--;       //otherwise: decrease H_index by 1
        }
        console.log({H_index,arr});
        return H_index;
      },

      permalink(){
        let origin = window.location.origin;
        let path   = window.location.pathname;
        let search = `?query=${encodeURIComponent(this.scopus.query)}`;
        return origin+path+search;
      },

      get_articles_quartils(){
        let ret={
          Q1:[],
          Q2:[],
          Q3:[],
          Q4:[],
          D1:[],
        };

        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false ||
          this.scimagocsv       == null
        ){
          return ret;
        }

        let pages = this.scopus.result;

        pages.forEach(page=>{
          page.forEach(entry=>{
            let nom_revista = entry["prism:publicationName"];
            let issn        = entry["prism:issn"];
            let eIssn       = entry["prism:eIssn"];
            let sjr         = this.busca_a_scimagocsv(nom_revista,issn,eIssn);

            if(!sjr) return;
            if(!sjr.percentils) return;

            //Q1 Q2 Q3 Q4
            if(sjr["SJR Best Quartile"]=="Q1") ret.Q1.push({pub:entry, sjr});
            if(sjr["SJR Best Quartile"]=="Q2") ret.Q2.push({pub:entry, sjr});
            if(sjr["SJR Best Quartile"]=="Q3") ret.Q3.push({pub:entry, sjr});
            if(sjr["SJR Best Quartile"]=="Q4") ret.Q3.push({pub:entry, sjr});

            //D1
            if(Object.values(sjr.percentils).some(per=>per.percentil<=10)) ret.D1.push({pub:entry, sjr});
          });
        });

        return ret;
      },
    },

    mounted(){
      document.querySelector("textarea[query]").focus();

      //get scimago csv 2023
      this.get_scimagocsv();

      //if query is in the url, start search immediately
      if(query){
        this.get_publications();
      }
    },
  }).mount("#app");
</script>
