<!doctype html><html><head>
  <title>ICRA indicadors</title>
  <meta charset="utf8">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <style>
    body{
      font-family: Eczar, IM Fell English, Georgia, serif;
    }
    input[type=number]{
      text-align:right;
    }
    legend{
      font-weight:bold;
    }
    textarea{
      field-sizing:content;
      display:block;
      padding:10px;
      background:lightyellow;
      min-width:350px;
    }
    table{
      border-collapse:collapse;
      max-width:100%;
    }
    td,th{
      vertical-align:top;
    }
    details[open] > summary {
      background:#ddd;
    }
    summary[sticky]{
      position:sticky;
      top:0;
      background:white;
      border:1px solid #ccc;
    }
    summary:hover{
      text-decoration:underline;
      cursor:pointer;
      background:#ddd;
    }
    [small]{
      font-size:smaller;
    }
    [xsmall]{
      font-size:x-small;
    }
    [nowrap]{
      white-space:nowrap;
    }
    [center]{
      text-align:center;
    }
    [right]{
      text-align:right;
    }
    [flex]{
      display:flex;
      align-items:center;
    }
  </style>
</head><body>

<div><!--temporal warning tmp-->
  <details style="border:2px solid;padding:10px" small>
    <summary>status: under development (February 2025)</summary>
    <p>
      development started on 10th Feb 2025.<br>
      Warning: the scopus API has a limit of requests.
      It's possible that the error 429 "too many requests" appears.<br>
      This will be solved (hopefully) contracting a paid access to scopus.<br>
    </p>
    <b>coses pendents</b>
    <ul>
      <li>scimagojr CSV descarregar per tots els anys
      <li>journal metrics buscar per ISSN i no per nom
      <li>calcular per cada any X el nombre de cites fetes durant aquell any a tots els articles publicats
      <li>policyprofiles.sagepub.com
    </ul>
    <button onclick="this.parentNode.style.display='none'">X</button>
  </details>
</div><hr>

<nav>
  <b href="index.html">scopus</b>  |
  <a href="centre.html">centre</a> |
  <a href="ips.html">IPs</a>       |
</nav><hr>

<h3>
  <div style="display:flex;justify-content:space-between;align-items:center">
    <div>Search ICRA publications in SCOPUS</div>
    <a xsmall href="//github.com/icra/indicadors" target=_blank>
      github.com/icra/indicadors
    </a>
  </div>
</h3>

<div id=app>
  <fieldset>
    <legend>Publications</legend>
    <table border=1 style="border-collapse:collapse;width:100%">
      <tr>
        <td>Query</td>
        <td>
          <div flex>
            <div style="display:flex">
              <textarea
                v-model="scopus.query"
                query
                style="font-size:smaller;min-width:200px"
                placeholder="write scopus query here"
                @keydown.enter.prevent="get_publications()"
              ></textarea>
              <button @click="scopus.query=''" :disabled="scopus.query==''">X</button>
            </div>

            <small style="font-size:x-small;margin:0 1em">
              <a target=_blank href="https://schema.elsevier.com/dtds/document/bkapi/search/SCOPUSSearchTips.htm">scopus search guide</a>
            </small>

            <details xsmall>
              <summary>most used fields</summary>
              <div>
                <a href=# title="affiliation id"       @click="scopus.query+=' AND AF-ID(60110375)'">AF-ID</a>,
                <a href=# title="author name"          @click="scopus.query+=' AND AUTH(bosch)'">AUTH</a>,
                <a href=# title="author id"            @click="scopus.query+=' AND AU-ID(56411720900)'">AU-ID</a>,
                <a href=# title="journal issn number"  @click="scopus.query+=' AND ISSN(02697491)'">ISSN</a>,
                <a href=# title="publication language" @click="scopus.query+=' AND LANGUAGE(spanish)'">LANGUAGE</a>,
                <a href=# title="publication year"     @click="scopus.query+=' AND PUBYEAR is 2025'">PUBYEAR</a>
              </div>
            </details>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div flex>
            <button @click="get_publications()" nowrap
              style="
                padding:0.618em 1em;
                background:lightgreen;
              "
            >Search &#128270;
            </button>

            <!--historial-->
            <div
              style="
                display:flex;
                align-items:center;
              "
              v-if="historial.length>1"
            >
              <div small>
                <span>&nbsp;recent queries&nbsp;</span>
                <select small @change="scopus.query=$event.target.value;get_publications()">
                  <option v-for="q in historial">
                    {{q}}
                  </option>
                </select>
              </div>
              &nbsp;
              <button xsmall @click="alert(permalink)">get permalink</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <details open>
            <summary sticky>Results
              <span v-if="scopus.result && scopus.result_ok && scopus.result_is_loading==false">
                ({{scopus.response["search-results"]["opensearch:totalResults"]}} results,
                {{scopus.result.map(page=>page.length).reduce((p,c)=>p+c,0)}} items received, {{scopus.number_of_requests}} requests)
              </span>
              <div v-if="scopus.result_is_loading">
                loading...
                <span v-if="scopus.number_of_requests">
                  ({{scopus.current_request_number}} of {{scopus.number_of_requests}} requests to scopus API done)
                </span>
              </div>
            </summary>
            <div v-if="scopus.result_is_loading==false">
              <div v-if="!scopus.result" style="color:#666">none</div>
              <div v-if="scopus.result && scopus.result_ok==false">
                {{scopus.result}}
              </div>
              <div v-if="scopus.result && scopus.result_ok">
                <table border=1
                  style="
                    font-size:smaller;
                    border-collapse:collapse;
                    border-color:#ccc;
                  "
                >
                  <tr>
                    <th>nº</th>
                    <th>cited</th>
                    <th style="text-align:left">publication</th>
                  </tr>
                  <tbody v-for="page,i in scopus.result">
                    <tr v-for="entry,j in page">
                      <td style="font-size:smaller">{{25*i+j+1}}</td>
                      <td style="font-size:smaller" center>{{entry["citedby-count"]}}</td>
                      <td>
                        <details>
                          <summary>
                            <span>[{{entry["prism:coverDate"]}}]&nbsp;</span>
                            <b>{{entry["dc:creator"]}}&nbsp;</b>
                            <small><i>{{entry["dc:title"]}}</i></small>
                          </summary>
                          <div v-if="entry['prism:doi']">
                            <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                              https://doi.org/{{entry['prism:doi']}}
                            </a>
                          </div>
                          <div>
                            <div v-if="abstract[entry['prism:doi']]">
                              <details open>
                                <summary>Detalls</summary>
                                <pre>{{
                                  JSON.stringify(
                                    abstract[entry['prism:doi']],
                                    null,
                                    '  ',
                                  )
                                }}</pre>
                              </details>
                            </div>
                            <button v-if="!abstract[entry['prism:doi']]"
                              @click="request_abstract(entry)"
                            >request publication details
                            </button>
                          </div>

                          <table border=1>
                            <tr v-for="val,key in entry">
                              <th>{{key}}</th>
                              <td>
                                <div v-if="val && (val.constructor===Object || val.constructor===Array)">
                                  <pre>{{JSON.stringify(val,null,'  ')}}</pre>
                                </div>
                                <div v-else>{{val}}</div>
                              </td>
                            </tr>
                          </table>
                        </details>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </details>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Total citations in the results</legend>
    <div v-if="scopus.result && scopus.result_ok">
      {{ calcula_cites_totals }}
    </div><div v-else style="color:#666">
      none
    </div>
  </fieldset>

  <fieldset>
    <legend>Journals in the results</legend>
    <details open>
      <summary sticky>
        Journals
        <span v-if="get_revistes">({{get_revistes.length}})</span>
        &mdash; sorted by:
        <select v-model="journals_sorted_by" @change="display_only(journals_sorted_by)">
          <option v-for="op in journals_sorted_by_OPTIONS">{{op}}</option>
        </select>
      </summary>
      <div v-if="!get_revistes" style="color:#666">none</div>
      <table border=1 v-if="get_revistes">
        <tr>
          <th>nº</th>
          <th>issn</th>
          <th>eIssn</th>
          <th>Journal name</th>
          <th>Publications</th>
          <th>
            SCOPUS journal
            metrics <button @click="request_all_journal_metrics()">request all journals</button>
            <div small>
              <label nowrap title="Source-Normalized Impact per Paper (SNIP): Measures contextual citation impact by taking differences in disciplinary characteristics into account; can be used to compare journals in different fields."><input type=checkbox v-model="metrics.snip">SNIP</label>
              <label nowrap title="SCImago Journal Rank (SJR): A prestige metric for journals, book series and conference proceedings that weights the value of a citation based on the subject field, quality and reputation of the source."><input type=checkbox v-model="metrics.sjr">SJR</label>
              <label nowrap title="CiteScore™ metrics: Introduced in 2016, a family of eight indicators to analyze the publication influence of serial titles. CiteScore metrics offer more robust, timely and accurate indicators of a serial title’s impact."><input type=checkbox v-model="metrics.citescore">CiteScore</label>
              <label nowrap title="CiteScore™ metrics: Introduced in 2016, a family of eight indicators to analyze the publication influence of serial titles. CiteScore metrics offer more robust, timely and accurate indicators of a serial title’s impact."><input type=checkbox v-model="metrics.more_details">(all)</label>
            </div>
          </th>
          <th>Scimago Journal Rank CSV metrics
            <div v-if="!scimagocsv">
              (loading...)
            </div>
          </th>
        </tr>
        <tr v-for="[key,val],i in get_revistes">
          <td xsmall>{{i+1}}</td>
          <td xsmall nowrap>{{val.issn}}</td>
          <td xsmall nowrap>{{val.eIssn}}</td>
          <td :title="key">
            <details>
              <summary>
                {{key.substring(0,50)}}<span v-if="key.length>50">...</span>
              </summary>
              <p small>
                <a target=_blank :href="`https://www.scimagojr.com/journalsearch.php?q=${val.source_id}&tip=sid&clean=0`">
                  https://www.scimagojr.com/journalsearch.php?q={{val.source_id}}&tip=sid&clean=0
                </a>
              </p>
              <table small>
                <tbody v-for="entry in val.articles">
                  <tr>
                    <td>
                      <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                        [{{entry["prism:coverDate"]}}]
                        <b>{{entry["dc:creator"]}}&nbsp;</b>
                        <small><i>{{entry["dc:title"]}}</i></small>
                      </a>
                    </td>
                  </tr>
                </tr>
              </table>
            </details>
          </td>
          <td nowrap small> {{val.articles.length}} publications </td>
          <td small>
            <div v-if="journal_metrics[key]">
              <table border=1 xsmall>
                <tr v-if="metrics.snip">
                  <td>SNIP ({{ get_snip([key,val]).year }})</td>
                  <td right>{{ get_snip([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.sjr">
                  <td>SJR ({{  get_sjr([key,val]).year }})</td>
                  <td right>{{ get_sjr([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.citescore">
                  <td>CiteScore (current) ({{ get_citescore_current([key,val]).year }})</td>
                  <td right>{{                get_citescore_current([key,val]).score }}</td>
                </tr>
                <tr v-if="metrics.citescore">
                  <td>CiteScore (tracker) ({{ get_citescore_tracker([key,val]).year }})</td>
                  <td right>{{                get_citescore_tracker([key,val]).score }}</td>
                </tr>
              </table>
            </div>
            <details v-if="journal_metrics[key] && metrics.more_details" xsmall>
              <summary>more details</summary>
              <pre>{{
                JSON.stringify(
                  recurse(
                    journal_metrics[key],
                    ['serial-metadata-response','entry',0]
                  ),
                  null,
                  "  ",
                )
              }}</pre>
            </details>
            <div v-if="!journal_metrics[key]">
              <button small v-if="val.issn||val.eIssn" @click="check_journal(val.issn||val.eIssn,key)">
                request journal info (SCOPUS)
              </button>
            </div>
          </td>
          <td v-if="scimagocsv">
            <div v-if="scimagocsv[key]">
              <table border=2 xsmall v-for="sjr in [scimagocsv[key]]">
                <tbody v-if="sjr">
                  <tr><th nowrap>SJR              <td>{{sjr.SJR}}</tr>
                  <tr><th nowrap>SJR Best Quartile<th>{{sjr["SJR Best Quartile"]}}</th>
                  <tr><th nowrap>H index          <td>{{sjr["H index"]}}</tr>
                </tbody>
              </table>
              <details xsmall>
                <summary>see all ScimagoJR metrics</summary>
                <table border=2 xsmall>
                  <tr v-for="val2,key2 in scimagocsv[key]">
                    <th nowrap>{{key2}}</th>
                    <td>{{val2}}</td>
                  </tr>
                </table>
              </details>
            </div>
            <div v-if="!scimagocsv[key]">
              <code>~journal not found in ScimagoJR CSV (workinprogress)</code>
            </div>
          </td>
          <td v-if="!scimagocsv">
            (loading scimago csv...)
          </td>
        </tr>
      </table>
    </details>
  </fieldset>

  <fieldset v-if="false">
    <legend>ICRA affiliation impact metrics</legend>
    <span>
      (workinprogress: new api key needed, paid access)
    </span>
    <div v-if="institution">
      <pre>{{
        JSON.stringify(
          institution,
          null,
          "  ",
        )
      }}</pre>
    </div>
    <div v-else>
      <button @click="get_institution_impact" disabled>check (disabled)</button>
    </div>
  </fieldset>

  <fieldset>
    <legend>Resultats globals (Excel Vicenç) <span style="background:yellow">(en construcció)</span></legend>
    <ul>
      <li>Increment nombre d'articles al Q1 (segons Scopus) respecte any anterior
      <li>Increment nombre cites anuals (segons Scopus) respecte any anterior
      <li>Increment Impact factor de la institució (segons Scopus) en el moment de l'anàlisi respecte any anterior
      <li>Nombre d'articles científics al Q1 (segons Scopus) associats a la L17 i la L18
        <b>(preguntar què és L17/L18)</b>
      </li>
    </ul>
    <table border=1>
      <tr>
        <td>Nombre d'articles a revista Q1</td>
        <td center>
          <div v-if="get_articles_a_revista_Q1">
            {{get_articles_a_revista_Q1.length}}
          </div>
        </td>
        <td v-if="get_articles_a_revista_Q1">
          <details small>
            <summary>llista</summary>
            <table border=1 small>
              <tr v-for="entry in get_articles_a_revista_Q1">
                <td><span>{{entry["prism:publicationName"]}}&nbsp;</span></td>
                <td>Q1</td>
                <td><b>{{entry["dc:creator"]}}&nbsp;</b></td>
                <td>
                  <small><i>
                    <a target=_blank :href="`https://doi.org/${entry['prism:doi']}`">
                      {{entry["dc:title"]}}
                    </a>
                  </i></small>
                </td>
              </tr>
            </table>
          </details>
        </td>
      </tr>
      <tr>
        <td>Nombre de cites</td>
        <td center>
          <div v-if="calcula_cites_totals">{{calcula_cites_totals}}</div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:middle">
          H index
        </td>
        <td center style="vertical-align:middle">
          {{calcula_H_index}}
        </td>
        <td colspan=2 xsmall>
          <p>
            Number of publications that have been cited at least that same
            number of times.
          </p>
          <p v-if="calcula_H_index">
            Results: {{calcula_H_index}} papers have been cited {{calcula_H_index}} times (or more).
          </p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:middle">
          Impact Factor 2024
        </td>
        <td style="vertical-align:middle">
          A/B =
        </td>
        <td>
          <div>
            A = number of times articles published in [2022,2023] were cited by indexed journals during [2024].
          </div>
          <hr>
          <div>
            B = total number of "citable items" published in [2022,2023]
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
</div>

<script>
  //read query from URL (index.html?query="query")
  let usp   = new URLSearchParams(window.location.search);
  let query = usp.get('query');
  if(query){
    query = decodeURIComponent(query);
    console.log(query);
  }

  let app = Vue.createApp({
    data(){return{
      //data for querying publications (elsevier's scopus)
      scopus:{
        //API_KEY:"7f59af901d2d86f78a1fd60c1bf9426a", //clau web scopus
        API_KEY:"006782f7796da6b38899e0c889fa3c80",   //clau mireia
        query:query||`AF-ID(60110375) AND PUBYEAR IS ${new Date().getFullYear()}`,//default query
        response:null,           //cache
        result:null,             //cache
        result_is_loading:false, //is the query in process?
        result_ok:false,         //there is error?
        number_of_requests:null,
        current_request_number:0,

        //cache for queries
        cache:{
          /*"query":{results}*/
        },
      },

      //historial queries
      historial:[],

      //cache for scopus api call for affiliation TODO
      institution:null,

      //cache for journal info requested to scopus api
      journal_metrics:{
        //"journal name":{info},
      },
      //journal metrics displayed
      metrics:{
        snip:false,
        sjr:true,
        citescore:false,
        more_details:false,
      },

      /*sort journals in the results by different metrics*/
      journals_sorted_by:"number of publications",
      journals_sorted_by_OPTIONS:[
        "number of publications",
        "SNIP",
        "SJR",
        "CiteScore (current)",
        "CiteScore (tracker)",
      ],

      //cache for journal metrics
      abstract:{
        //"doi":abstract_object
      },

      scimagocsv:null,

      /*utils*/
      //http requests error code descriptions
      errors:{
        "400":"Bad request",
        "401":"Unauthorized",
        "403":"Forbidden",
        "404":"Not found",
        "429":"Too many requests",
      },
    }},

    methods:{
      //scopus api call: get publications based on scopus query
      async get_publications(){
        let API_KEY       = this.scopus.API_KEY;
        let query         = this.scopus.query;
        let encoded_query = encodeURIComponent(query);
        //let url          =`https://api.elsevier.com/content/search/scopus?query=${encoded_query}&apiKey=${API_KEY}`;
        let url            =`https://api.elsevier.com/content/search/scopus?query=${encoded_query}`;

        //reset results
        this.scopus.response               = null;
        this.scopus.result                 = null;
        this.scopus.result_ok              = false;
        this.scopus.result_is_loading      = true;
        this.scopus.number_of_requests     = null;
        this.scopus.current_request_number = 0;

        //check cache before searching
        if(this.scopus.cache[query]){
          let cache                          = this.scopus.cache[query];
          this.scopus.response               = cache.response;
          this.scopus.result                 = cache.result;
          this.scopus.result_ok              = true;
          this.scopus.result_is_loading      = false;
          this.scopus.number_of_requests     = cache.number_of_requests;
          return;
        }

        //prepare http request fetch
        let options2={
          headers:{
            "Accept":"application/json",
          },
        };

        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };

        let response = await fetch(url,options);
        if(!response.ok){
          this.scopus.result = `error ${response.status} ${this.errors[response.status]}`;
          this.scopus.result_is_loading = false;
          throw new Error("Error fetching Scopus data");
        }

        //response is ok
        const data = await response.json();
        this.scopus.response = data;

        //save results (entries) here
        let pages=[];

        //each element in "pages" is an array of "entries" (a page of 25 results)
        let first_page = data["search-results"].entry;
        pages.push(first_page);

        //compute necessary number of requests
        let totalResults = data["search-results"]["opensearch:totalResults"];
        let itemsPerPage = data["search-results"]["opensearch:itemsPerPage"];
        let n_requests = Math.ceil(totalResults/itemsPerPage) || 1;
        let urls_next_pages=[];//save urls to request here
        for(let i=1;i<n_requests;i++){ //omit first search
          let start = i*itemsPerPage;
          let url   = `https://api.elsevier.com/content/search/scopus?start=${start}&count=${itemsPerPage}&query=${encoded_query}&apiKey=${API_KEY}`;
          urls_next_pages.push(url);
        }
        this.scopus.number_of_requests     = n_requests;
        this.scopus.current_request_number = 1;

        if(urls_next_pages.length){
          async function get_next_result_page(index){
            index = index || 0;
            app.scopus.current_request_number++;
            let url = urls_next_pages[index];
            if(!url) return;
            console.log(`fetching request to ${url}`);
            let resp = await fetch(url,options);
            if(!resp.ok){
              console.error(resp);
              throw(`error ${resp.status} '${this.errors[resp.status]}' fetching "${url}"`);
              return;
            }
            let data = await resp.json();
            let page = data["search-results"].entry;
            pages.push(page);

            if(index < urls_next_pages.length-1){
              await get_next_result_page(index+1);
            }else{
              return;
            }
          }
          await get_next_result_page();
        }

        this.scopus.result            = pages;
        this.scopus.result_ok         = true;
        this.scopus.result_is_loading = false;

        //save query to historial (to position zero)
        this.historial.unshift(query);

        //save results to cache
        this.scopus.cache[query]={
          response:           data,
          result:             pages,
          number_of_requests: n_requests,
        };
      },

      //scopus api call: check journal quartile based on ISSN
      async check_journal(issn,journal_name){
        if(this.journal_metrics[journal_name]){
          return this.journal_metrics[journal_name];
        }

        //http request to scopus api
        let API_KEY = this.scopus.API_KEY;
        let url=`https://api.elsevier.com/content/serial/title?issn=${issn}&apiKey=${API_KEY}`;
        let options  = {headers:{"Accept":"application/json"}};
        let response = await fetch(url,options);
        if(!response.ok) throw new Error("Error fetching Scopus Serial Title API");
        const data = await response.json();

        //cache result and return
        this.journal_metrics[journal_name]=data;

        //get issn and eissn
        console.log(data);

        return data;
      },

      async request_all_journal_metrics(){
        let revistes = this.get_revistes;
        if(!revistes) return;
        async function get_next_journal(index){
          index = index || 0;

          let nom_revista = revistes[index][0];
          let issn        = revistes[index][1].issn || revistes[index][1].eIssn;

          await app.check_journal(issn,nom_revista);

          if(index < revistes.length-1){
            await get_next_journal(index+1);
          }else{
            return;
          }
        }
        await get_next_journal();
      },

      //scopus api call: fetch FWCI for a publication using DOI
      async request_abstract(entry){
        let doi       = entry["prism:doi"];
        let scopus_id = entry["dc:identifier"].replace("SCOPUS_ID:","");
        let API_KEY   = this.scopus.API_KEY;

        if(this.abstract[doi]){
          return this.abstract[doi];
        }

        let url=`https://api.elsevier.com/content/abstract/scopus_id/${scopus_id}?apiKey=${API_KEY}&view=FULL`;
        let options={
          method:"GET",
          headers:{
            "X-ELS-APIKey":API_KEY,
            "Accept":"application/json",
          },
        };

        const response = await fetch(url,options);
        if(!response.ok) throw new Error("Error fetching scopus data");
        const data = await response.json();
        console.log(data);
        //save to cache
        this.abstract[doi]=data;
      },

      //TODO no funciona
      async get_institution_impact(){
        let API_KEY = this.scopus.API_KEY;
        let afid    = 60110375; //icra affiliation id
        let url     = `https://api.elsevier.com/content/affiliation/affiliation_id/${afid}`;

        let options={headers:{"Accept":"application/json"}};
        let response = await fetch(url,options);

        if(!response.ok){
          console.error(response);
          throw(`error ${response.status} '${this.errors[response.status]}' fetching "${url}"`);
          return;
        }

        let data = await response.json();
        console.log(data);
        this.institution=data;
        return data;
      },

      /*parse journal metrics from scopus api*/
      get_snip(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SNIPList','SNIP',0,"$"]
        );
        score = parseFloat(score);

        let year = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SNIPList','SNIP',0,"@year"]
        );
        year = parseInt(year);

        return {score,year};
      },
      get_sjr(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SJRList','SJR',0,"$"],
        );
        score = parseFloat(score);

        let year = this.recurse(
          jm[key],
          ['serial-metadata-response','entry',0,'SJRList','SJR',0,"@year"]
        );
        year = parseInt(year);

        return {score,year};
      },
      get_citescore_current(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreCurrentMetric']
        );
        score = parseFloat(score);

        let year = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreCurrentMetricYear']
        );
        year = parseInt(year);

        return {score,year};
      },
      get_citescore_tracker(journal_entry){
        let key = journal_entry[0];
        let jm  = this.journal_metrics;

        let score = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreTracker']
        );
        score = parseFloat(score);

        let year = this.recurse(jm[key],
          ['serial-metadata-response','entry',0,'citeScoreYearInfoList','citeScoreTrackerYear']
        );
        year = parseInt(year);

        return {score,year};
      },

      /*<utils>*/
      //uncheck all journal metrics and activate one
      display_only(option_name){
        let metric={
          //journals_sorted_by_OPTIONS : metrics
          "SNIP"                       : "snip",
          "SJR"                        : "sjr",
          "CiteScore (current)"        : "citescore",
          "CiteScore (tracker)"        : "citescore",
        }[option_name];

        if(!metric) return;

        //if metric exists, display only this one
        Object.keys(this.metrics).forEach(key=>{
          this.metrics[key]=false;
        });
        this.metrics[metric]=true;
      },

      //access an object by a series of keys
      recurse(obj,keys){
        if(!obj) return false;
        if(keys.length==0) return obj;
        if(obj[keys[0]]){
          return this.recurse(
            obj[keys[0]],
            keys.slice(1),
          );
        }else{
          return obj;
        }
      },
      //show permalink
      alert(str){
        alert(str);
      },
      /*</utils>*/

      async get_scimagocsv(){
        if(this.scimagocsv) return;

        let res = await fetch("csv/scimagojr 2023.csv");
        if(!res.ok) throw("error reading csv file");
        let text = await res.text();

        let csv = text.split("\n").map(line=>{
          let row = line.split(";");

          let indexs_to_delete=[];

          for(let i=0;i<row.length;i++){
            let val = row[i];
            if(val[0]=="\"" && val.at(-1)!="\""){
              let new_val = val;
              let index = 1;
              while(true){
                let next_cell = row[i+index]; //value
                indexs_to_delete.push(i+index);
                new_val += ";"+next_cell; //join values
                if(next_cell.at(-1)=="\""){
                  break;
                }else{
                  index++;
                }
              }
              row[i] = new_val;
            }
          }

          indexs_to_delete.forEach(index=>{
            row[index]="";
          });

          row = row.filter(cell=>cell!="");

          return row;
        });

        csv.forEach(row=>{
          row.forEach((cell,i)=>{
            if(cell.at(0)=="\"" && cell.at(-1)=="\""){
              row[i] = cell.replaceAll("\"","");
            }
          });
        });

        //delete last row
        csv.pop();

        let csv_dictionary={};
        csv.forEach((row,i)=>{
          if(i==0) return;
          let obj={};
          csv[0].forEach((field,j)=>{
            obj[field] = row[j];
          });

          csv_dictionary[obj.Title] = obj;
        });

        this.scimagocsv = csv_dictionary;
      },
    },

    computed:{
      get_revistes(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return false;
        }

        let revistes={}; //ret val

        let pages = this.scopus.result;
        pages.forEach(page=>{
          page.forEach(entry=>{
            let nom_revista = entry["prism:publicationName"];
            let issn        = entry["prism:issn"];
            let eIssn       = entry["prism:eIssn"];
            let source_id   = entry["source-id"];

            if(revistes[nom_revista]==undefined){
              revistes[nom_revista]={issn,eIssn,source_id,articles:[]};
            }

            revistes[nom_revista].articles.push(entry);
          });
        });

        //ordena revistes segons opció triada usuari
        let revistes_sorted = Object.entries(revistes).sort((a,b)=>{
          if(this.journals_sorted_by=="number of publications"){
            let aa = a[1].articles.length;
            let bb = b[1].articles.length;
            return bb-aa;
          }
          if(this.journals_sorted_by=="SJR"){
            let aa = this.get_sjr(a).score;
            let bb = this.get_sjr(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="SNIP"){
            let aa = this.get_snip(a).score;
            let bb = this.get_snip(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="CiteScore (current)"){
            let aa = this.get_citescore_current(a).score;
            let bb = this.get_citescore_current(b).score;
            return bb-aa;
          }
          if(this.journals_sorted_by=="CiteScore (tracker)"){
            let aa = this.get_citescore_tracker(a).score;
            let bb = this.get_citescore_tracker(b).score;
            return bb-aa;
          }
        });

        return revistes_sorted;
      },

      calcula_cites_totals(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return 0;
        }

        let cites = 0;
        this.scopus.result.forEach(page=>{
          page.forEach(entry=>{
            cites += parseInt(entry["citedby-count"]);
          });
        });
        return cites;
      },

      calcula_H_index(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false
        ){
          return 0;
        }

        let arr=[];
        this.scopus.result.forEach(page=>{
          page.forEach(entry=>{
            let cites = parseInt(entry["citedby-count"]); //number
            if(cites){
              arr.push(cites);
            }
          });
        });

        //inicia impact factor = number of publications amb cites
        let H_index = arr.length;
        while(true){
          let check = arr.filter(el=> el>=H_index ).length >= H_index;
          if(check) break; //H_index found!
          H_index--;       //otherwise: decrease H_index by 1
        }
        console.log({H_index,arr});
        return H_index;
      },

      permalink(){
        let origin = window.location.origin;
        let path   = window.location.pathname;
        let search = `?query=${encodeURIComponent(this.scopus.query)}`;
        return origin+path+search;
      },

      get_articles_a_revista_Q1(){
        if(
          this.scopus.response  == null  ||
          this.scopus.result    == null  ||
          this.scopus.result_ok == false ||
          this.scimagocsv       == null
        ){
          return false;
        }

        let articles=[];

        let pages = this.scopus.result;

        pages.forEach(page=>{
          page.forEach(entry=>{
            let nom_revista = entry["prism:publicationName"];

            let sjr = this.scimagocsv[nom_revista];
            if(!sjr) return;

            if(sjr["SJR Best Quartile"]=="Q1"){
              articles.push(entry);
            }
          });
        });

        return articles;
      },
    },

    mounted(){
      document.querySelector("textarea[query]").focus();
      this.get_scimagocsv();

      //if query is in the url, start search immediately
      if(query){
        this.get_publications();
      }
    },
  }).mount("#app");
</script>
