<!doctype html><html><head>
  <meta charset=utf8>
  <title>lideratge</title>
  <script src="../lib/vue.global.prod.js"></script>
  <style>
    #taula_metadades tr:hover{
      background:lightblue;
    }
    button[seleccionat=true]{
      background:gold;
    }
    [center]{
      text-align:center;
    }
    [nowrap]{
      white-space:nowrap;
    }
    [data]{
      font-family:monospace;
      font-size:smaller;
      white-space:nowrap;
    }
    [xsmall]{
      font-size:x-small;
    }
    summary{
      font-weight:bold;
      cursor:pointer;
    }
    summary:hover{
      text-decoration:underline;
    }
    table{
      border-collapse:collapse;
    }
    [first_or_last]{
      color:#666;
      border-radius:5px;
      border:1px solid #ccc;
      font-size:smaller;
    }
    [first_or_last=true]{
      background:#af0;
      box-shadow:inset 1px 1px 10px lightgreen;
    }
    [is_corresponding=true]{
      background:#af0;
      box-shadow:inset 1px 1px 10px lightgreen;
      color:#666;
      border-radius:5px;
      border:1px solid #ccc;
      font-size:smaller;
    }
    [gender]{
      color:#666;
      border-radius:5px;
      border:1px solid #ccc;
      font-size:smaller;
    }
    [gender=male]{
      background:lightblue;
    }
    [gender=female]{
      background:pink;
    }
    [gender=false]{
      background:red;
    }
    div[selector_dataset] button{
      padding:1em 1.618em;
    }
  </style>
</head><body>

<h1>ICRA publicacions 2021-2024 (segons OpenAlex)</h1>
<h2>Càlcul automàtic lideratge &amp; gènere</h2><hr>

<div id=app>
  Resultats web OpenAlex:
  <a :href="get_openalex_url" target=_blank>{{get_openalex_url}}</a>

  <div v-if="!works"><p>Carregant...</p></div>
  <div v-if="works"><hr>
    <!--taules context-->
    <details open>
      <summary>Metadades resultats</summary>
      <table border=1 id=taula_metadades>
        <tr>
          <th>Tipus</th>
          <th>Publicacions<br>totals</th>
          <th>Publicacions<br>lideratge</th>
          <th>Publicacions<br>lideratge<br>femení</th>
        </tr>
        <tr>
          <th>tots els tipus</th>
          <th>{{works.length}}</th>
          <th>{{get_works_amb_lideratge.length}}</th>
          <th>{{get_works_amb_lideratge_femeni.length}}</th>
        </tr>
        <tr>
          <th>tipus seleccionats</th>
          <th>{{works.filter(w=>work_types[w.type]).length}}</th>
          <th>{{get_works_amb_lideratge.filter(w=>work_types[w.type]).length}}</th>
          <th>{{get_works_amb_lideratge_femeni.filter(w=>work_types[w.type]).length}}</th>
        </tr>
        <tr v-for="tipus in get_tipus_publicacions">
          <td>
            <label>
              <input type=checkbox v-model="work_types[tipus]">
              {{tipus}}
            </label>
          </td>
          <td center>
            {{works.filter(w=>w.type==tipus).length}}
          </td>
          <td center>
            {{get_works_amb_lideratge.filter(w=>w.type==tipus).length}}
          </td>
          <td center>
            {{get_works_amb_lideratge_femeni.filter(w=>w.type==tipus).length}}
          </td>
        </tr>
        <tr>
          <td>
            <button @click="function(){
                Object.keys(work_types).forEach(t=>work_types[t]=false)
              }"
              :disabled="Object.values(work_types).every(val=>!val)"
            >deselecciona tots</button>
          </td>
        </tr>
      </table>
    </details><hr>

    <div selector_dataset>
      Veure taula:
      <button @click="array_works_visible=works;                          array_works_seleccionat='P'"   :seleccionat="array_works_seleccionat=='P'"  >Publicacions totals</button>
      <button @click="array_works_visible=get_works_amb_lideratge;        array_works_seleccionat='PL'"  :seleccionat="array_works_seleccionat=='PL'" >Publicacions lideratge ICRA</button>
      <button @click="array_works_visible=get_works_amb_lideratge_femeni; array_works_seleccionat='PLF'" :seleccionat="array_works_seleccionat=='PLF'">Publicacions lideratge ICRA femení</button>
    </div><hr>

    <div v-if="array_works_visible">
      <details>
        <summary>Noms no classificats en gènere ({{names_not_found.size}})</summary>
        <div>
          <div v-for="nom in Array.from(names_not_found)">
            {{nom}}
            <button @click="genders[nom]='male'"   :disabled="genders[nom]=='male'">male</button>
            <button @click="genders[nom]='female'" :disabled="genders[nom]=='female'">female</button>
          </div>
        </div>
      </details><hr>
    </div>

    <div v-if="get_works_filtrats_per_tipus">
      <b style="font-size:larger">
        {{
          {
            "P":"Publicacions",
            "PL":"Publicacions lideratge",
            "PLF":"Publicacions lideratge femení",
          }[array_works_seleccionat]
        }}
        {{Object.entries(work_types).filter(en=>en[1]).map(en=>en[0])}}
        ({{get_works_filtrats_per_tipus.length}} publicacions)
      </b>
      <table border=1 >
        <thead>
          <tr>
            <th>Nº</th>
            <th>Data</th>
            <th>Tipus</th>
            <th>Títol</th>
            <th>
              Autors ICRA
              <div>(nom, posició, corresponding, gènere)</div>
            </th>
          </tr>
        </thead>
        <tbody v-for="work,i in get_works_filtrats_per_tipus">
          <tr>
            <td>{{i+1}}</td>
            <td data>{{work.publication_date}}</td>
            <td center>{{work.type}}</td>
            <td>
              <div><i>{{work.title}}</i></div>
              <div v-if="work.doi">
                <a :href="work.doi" target=_blank>{{work.doi}}</a>
              </div>
              <div v-else-if="work.primary_location && work.primary_location.landing_page_url">
                <a :href="work.primary_location.landing_page_url" target=_blank>{{work.primary_location.landing_page_url}}</a>
              </div>
            </td>
            <td v-if="true">
              <table border=1>
                <tr v-for="authorship in filtra_authorships(work)">
                  <td nowrap :title="authorship.raw_author_name">
                    <span>
                      {{authorship.author.display_name}}
                    </span>
                    <span v-if="authorship.author.display_name!=authorship.raw_author_name">
                      ({{authorship.raw_author_name}})
                    </span>
                    <div>
                      <span :first_or_last="['first','last'].includes(authorship.author_position)">
                        {{authorship.author_position}}
                      </span>
                      <span :is_corresponding="authorship.is_corresponding">
                        <span v-if="authorship.is_corresponding">
                          corresponding
                        </span>
                      </span>
                      <span v-for="gen in [gender_authorship(authorship)]">
                        <span :gender="gen">
                          {{gen}}
                        </span>
                      </span>
                    </div>
                  </td>
                  <td v-if="false">
                    <div v-for="ins in [authorship.institutions.find(i=>i.id==id_icra)]">
                      <div v-if="ins">
                        <table xsmall border=1>
                          <tr v-for="str in authorship.raw_affiliation_strings">
                            <td>{{str}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td nowrap v-if="true">
              <details>
                <summary>detalls</summary>
                <div>
                  <code><pre>{{JSON.stringify(work,null,'  ')}}</pre></code>
                </div>
              </details>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  //TODO
  async function query_oa_api(){
    let year_inici = 2021;
    let year_final = 2024;
    let codi_icra  = "I2799562678"; //institution code
    let api_key    = "tGXbKHpYBXs5jv8YOFteH5";

    let page     = 1;
    let per_page = 200;
    let results  = [];

    while(true){
      let url=`https://api.openalex.org/works?api_key=${api_key}&filter=institutions.id:${codi_icra},publication_year:${year_inici}-${year_final}&per_page=${per_page}&page=${page}`;

      //fetch openalex api
      console.log(`[openalex] Fetching page ${page}...`);
      const res  = await fetch(url);
      const data = await res.json();

      //append results
      results = results.concat(data.results);

      //next page
      if(data.results.length < per_page){
        break;
      }else{
        page++;
      }
    }

    return results;
  }
  //let results = query_oa_api(); //debug mode
</script>

<script src="genders.js"></script>

<script>
  let app=Vue.createApp({
    data(){return{
      genders, //from genders.js
      real_people, //from genders.js

      year_inici:2021,
      year_final:2024,
      codi_icra:                   "I2799562678", //codi openAlex institution ICRA
      id_icra:"https://openalex.org/I2799562678", //id   openAlex institution ICRA
      works:null,

      //tipus de works mostrats (configurable per usuari)
      work_types:{
        "article":true,
        "review":true,
        "letter":true,
        "editorial":true,
      },
      columnes_visibles:{
        "numero":true,
        "data":true,
        "tipus":true,
        "titol":true,
        "titol":true,
        "autors_icra":true,
        "detalls":true,
      },

      //set de resultats visible usuari
      array_works_seleccionat:null,
      array_works_visible:null,

      //guardar aquí noms no trobats
      names_not_found:new Set(),
    }},

    methods:{
      gender_authorship(authorship){
        //check real name
        let g = this.real_people[authorship.author.display_name];
        if(g) return g;
        g = this.real_people[authorship.raw_author_name];
        if(g) return g;
        //guess first name
        g = this.gender(authorship.author.display_name);
        if(g) return g;
        g = this.gender(authorship.raw_author_name);
        if(g) return g;
        return false;
      },

      gender(name){
        let nom_pila = name
          .split("‐")[0] //guio1
          .split("-")[0] //guio2
          .split(" ")[0] //espai
          .toLowerCase(); //minuscula

        let g = genders[nom_pila];
        if(g) return g;

        //si un nom de pila acaba amb "," probablement és un cognom
        if(nom_pila.at(-1)==",") return false;

        //evita noms tipus "E.", "L.",...
        if(nom_pila.length==1)                                         return false; //"a"
        if(nom_pila.length==2 && nom_pila[1]==".")                     return false; //"a."
        if(nom_pila.length==4 && nom_pila[1]=="." && nom_pila[3]==".") return false; //"a.b."

        //posa el nom a la llista de no trobats per classificar-los manualment
        this.names_not_found.add(nom_pila);
        return false;
      },

      filtra_authorships(work){
        if(this.array_works_seleccionat=="P"){
          return work.authorships.filter(a=>a.institutions.some(i=>i.id==this.id_icra));
        }else if(this.array_works_seleccionat=="PL"){
          return work.authorships.filter(a=>{
            let lideratge = a.is_corresponding || a.author_position!='middle';
            if(!lideratge) return false;
            return a.institutions.some(i=>i.id==this.id_icra);
          });
        }else if(this.array_works_seleccionat=="PLF"){
          return work.authorships.filter(a=>{
            let lideratge = a.is_corresponding || a.author_position!='middle';
            if(!lideratge) return false;
            let icra = a.institutions.some(i=>i.id==this.id_icra);
            if(!icra) return false;
            let gender = this.gender_authorship(a);
            return gender=="female";
          });
        }else{
          return [];
        }
      },
    },

    computed:{
      get_tipus_publicacions(){
        if(!this.works) return [];
        let tipus = new Set(this.works.map(w=>w.type));
        return Array.from(tipus);
      },
      get_openalex_url(){
        //url consultable manualment
        return `https://openalex.org/works?filter=institutions.id:${this.codi_icra},publication_year:${this.year_inici}-${this.year_final}`;
      },

      get_works_amb_lideratge(){
        if(!this.works) return [];

        let works = this.works.filter(work=>{
          //filtra authorships icra
          let authorships = work.authorships.filter(a=>a.institutions.some(i=>i.id==this.id_icra));

          //mira si algun authorship té lideratge
          return authorships.some(a=>{
            return a.is_corresponding || a.author_position!='middle';
          });
        });

        return works;
      },

      get_works_amb_lideratge_femeni(){
        if(!this.get_works_amb_lideratge) return [];

        let works = this.get_works_amb_lideratge.filter(work=>{
          //filtra authorships icra
          let authorships = work.authorships.filter(a=>a.institutions.some(i=>i.id==this.id_icra));

          //check lideratge i gènere
          return authorships.some(a=>{
            let gender = this.gender_authorship(a);
            return gender=="female" && (a.is_corresponding || a.author_position!='middle');
          });
        });

        return works;
      },

      get_works_filtrats_per_tipus(){
        if(!this.array_works_visible) return false;
        return this.array_works_visible.filter(work=>{
          return this.work_types[work.type];
        });
      },
    },
    mounted(){
      //carrega presaved results
      fetch("query-result-works-2021-2024-icra.json")
      .then(r=>r.json())
      .then(arr=>{
        arr = arr.filter(work=>{
          return work.authorships.some(auth=>{
            return auth.raw_affiliation_strings.some(str=>{
              return (
                str.includes("ICRA")||
                str.includes("Catalan Institute for Water Research")||
                str.includes("Catalan Institute of Water Research")||
                str.includes("Institut Catala de Recerca de l'Aigua")||
                str.includes("Institut Català de Recerca de l'Aigua")
              );
            });
          });
        });
        arr.sort((a,b)=>{
          let aa = a.publication_date;
          let bb = b.publication_date;
          return bb<aa?-1:1;
        });

        this.works=arr;
        console.log("[ok] query-result-works-2021-2024-icra.json");
      });
    },
  }).mount("#app");
</script>
