<!doctype html><html><head>
  <meta charset=utf8>
  <title>lideratge</title>
  <script src="../lib/vue.global.prod.js"></script>
  <style>
    [center]{
      text-align:center;
    }
    [nowrap]{
      white-space:nowrap;
    }
    [data]{
      font-family:monospace;
      font-size:smaller;
      white-space:nowrap;
    }
    summary{
      font-weight:bold;
      cursor:pointer;
    }
    summary:hover{
      text-decoration:underline;
    }
    table{
      border-collapse:collapse;
    }
    [first_or_last=true]{
      background:#af0;
    }
    [is_corresponding=true]{
      background:#af0;
    }
  </style>
</head><body>

<h1>ICRA publicacions 2021-2024 (segons OpenAlex)</h1>
<h2>Càlcul automàtic lideratge &amp; gènere</h2><hr>

<div id=app>
  Resultats web Open Alex:
  <a :href="get_openalex_url" target=_blank>{{get_openalex_url}}</a>

  <div v-if="!works"><p>Carregant...</p></div>
  <div v-if="works"><hr>
    <!--taules context-->
    <details open>
      <summary>Metadades resultats</summary>
      <div>
        PREGUNTAR QUINS TIPUS DE PUBLICACIONS INCLOURE EN ELS RESULTATS
      </div>
      <div
        style="
          display:flex;
          gap:10px;
        "
      >
        <div>
          <table border=1>
            <tr v-for="tipus in get_tipus_publicacions">
              <td>
                <label>
                  <input type=checkbox checked>
                  {{tipus}}
                </label>
              </td>
              <td>
                {{get_works_amb_lideratge.filter(w=>w.type==tipus).length}}
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table border=1>
            <tr><td>Publicacions                      <td> {{works.length}}                  </tr>
            <tr><td><b>Publicacions amb lideratge</b> <td> {{get_works_amb_lideratge.length}}</tr>
            <tr><td>Publicacions amb lideratge femení <td> WIP                               </tr>
          </table>
        </div>
      </div>
    </details><hr>

    <b>Publicacions amb lideratge ({{get_works_amb_lideratge.length}})</b>
    <table border=1>
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipus</th>
          <th>Títol</th>
          <th>
            Autors ICRA lideratge
            <div>(nom, posició, corresponding, gènere)</div>
          </th>
          <th>Detalls</th>
        </tr>
      </thead>
      <tbody v-for="work in get_works_amb_lideratge">
        <tr>
          <td data>{{work.publication_date}}</td>
          <td center>{{work.type}}</td>
          <td>
            <div><i>{{work.title}}</i></div>
            <div><a :href="work.doi" target=_blank>{{work.doi}}</a></div>
          </td>
          <td>
            <table border=1>
              <tr v-for="authorship in work.authorships.filter(a=>a.institutions.some(i=>i.id==id_icra)&&(a.is_corresponding||a.author_position!='middle'))">
                <td nowrap>{{authorship.author.display_name}}</td>
                <td :first_or_last="['first','last'].includes(authorship.author_position)">
                  {{authorship.author_position}}
                </td>
                <td :is_corresponding="authorship.is_corresponding">
                  <div v-if="authorship.is_corresponding" is_corresponding="true">
                    corresponding
                  </div>
                </td>
                <td>
                  gènere (pendent)
                </td>
              </tr>
            </table>
          </td>
          <td nowrap>
            <details>
              <summary>detalls</summary>
              <div>
                <code><pre>{{JSON.stringify(work,null,'  ')}}</pre></code>
              </div>
            </details>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  //TODO
  async function query_oa_api(){
    let year_inici = 2021;
    let year_final = 2024;
    let codi_icra  = "I2799562678"; //institution code
    let api_key    = "tGXbKHpYBXs5jv8YOFteH5";

    let page     = 1;
    let per_page = 200;
    let results  = [];

    while(true){
      let url=`https://api.openalex.org/works?api_key=${api_key}&filter=institutions.id:${codi_icra},publication_year:${year_inici}-${year_final}&per_page=${per_page}&page=${page}`;

      //fetch openalex api
      console.log(`[openalex] Fetching page ${page}...`);
      const res  = await fetch(url);
      const data = await res.json();

      //append results
      results = results.concat(data.results);

      //next page
      if(data.results.length < per_page){
        break;
      }else{
        page++;
      }
    }

    return results;
  }
  //let results = query_oa_api(); //debug mode

  //carrega presaved results
  let app=Vue.createApp({
    data(){return{
      year_inici:2021,
      year_final:2024,
      codi_icra:                   "I2799562678", //codi openAlex institution ICRA
      id_icra:"https://openalex.org/I2799562678", //id   openAlex institution ICRA
      works:null,
    }},
    computed:{
      get_tipus_publicacions(){
        if(!this.works) return [];
        let tipus = new Set(this.works.map(w=>w.type));
        return Array.from(tipus);
      },
      get_openalex_url(){
        //url consultable manualment
        return `https://openalex.org/works?filter=institutions.id:${this.codi_icra},publication_year:${this.year_inici}-${this.year_final}`;
      },
      get_works_amb_lideratge(){
        if(!this.works) return [];

        let works = this.works.filter(work=>{
          //filtra authorships icra
          let authorships = work.authorships.filter(a=>a.institutions.some(i=>i.id==this.id_icra));

          //mira si algun authorship té lideratge
          return authorships.some(a=>{
            return a.is_corresponding || a.author_position!='middle';
          });
        });

        works.sort((a,b)=>{
          let aa = a.publication_date;
          let bb = b.publication_date;
          return bb<aa?-1:1;
        });
        return works;
      },
    },
    mounted(){
      fetch("query-result-works-2021-2024-icra.json")
      .then(r=>r.json())
      .then(arr=>{
        this.works=arr;
        console.log(arr);
      });
    },
  }).mount("#app");
</script>
